@import url('https://fonts.googleapis.com/css?family=Droid+Serif');

.main {
  max-width: 1000px;
  margin: 3% auto;
  font-family: 'Droid Serif', serif;
  &__title {
    // font-family: 'Permanent Marker', cursive;
    font-size: 3em;
  }
  &__nav {
    background-color: rgba(203, 203, 203, 0.59);
    list-style: none;
    margin:  5% 0;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 2em;
    &__tab {
      padding: 1%;
      transition: all 250ms;
      &:hover {
        background-color: rgba(102, 158, 163, 0.3);
        color: rgb(117, 117, 117);
        cursor: pointer;
      }
    }
  }
}
