.newMember {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 300px;
  justify-content: center;
  & input {
    margin-bottom: 6%;
    height: 25px;
  }
}

.admin {
  display: flex;
  flex-direction: column;
}

button {
  padding: 2%;
  margin: 0 auto;
  background-color: rgb(135, 193, 172);
  border: none;
  color: white;
  font-size: 1.5em;
  transition: all 250ms;
  &:hover {
    background-color: rgb(187, 134, 136);
  }
}

.centerButton {
  margin: 5% auto;
}
