.container {
  margin: 0 auto;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__panel {

    padding: 1%;
    margin: 2%;
    flex: 1;
    min-width: 250px;


    background-color: rgba(196, 233, 251, 0.54);
    color: rgb(54, 69, 68);
    transition: all 200ms;
    &:hover {
      background-color: rgba(190, 204, 188, 0.75);
      cursor: pointer;
    }
  }
}
